@import "../_masterColors.scss";

.upArrow {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 26 14'%3E%3Cdefs%3E%3Cpath id='a' d='M24.293 13.707a1 1 0 0 0 1.414-1.414l-12-12a1 1 0 0 0-1.414 0l-12 12a1 1 0 0 0 1.414 1.414L13 2.414l11.293 11.293z'/%3E%3C/defs%3E%3Cuse fill='%2344687D' fill-rule='nonzero' xlink:href='%23a'/%3E%3C/svg%3E%0A");  
  height: 1rem;
  width: 1rem;
  background-repeat: no-repeat;
  display: inline-block;
  float: right;
  margin-top:.5rem;
}

.downArrow {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 26 14'%3E%3Cdefs%3E%3Cpath id='a' d='M2 0C1 0 1 0 0 0 0 1 0 1 0 2L12 14C13 14 13 14 14 14L26 2C26 1 26 1 26 0 25 0 25 0 24 0L13 12 2 0Z'/%3E%3C/defs%3E%3Cuse fill='%2344687D' fill-rule='nonzero' xlink:href='%23a'/%3E%3C/svg%3E%0A");  
  height: 1rem;
  width: 1rem;
  background-repeat: no-repeat;
  display: inline-block;
  float: right;
  margin-top:.5rem;
  margin-right:.75rem;
}

.boldFont{
  font-weight: 700;
}
.regularFont{
  font-weight: 400;
}
.accordian-hover:hover{
  background-color: $blue-bg;
}

.someSpace{
  padding-top:1rem;
  //padding-bottom:.25rem;
  margin-top:-1rem;
}
