@import "../../_prism.scss";

.flexRowButtonsDemo{
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  justify-content:start;
  align-items: center;

}

.buttonDemoPadding{
  padding:0 2rem 0 0;
}