@import "../../_masterColors.scss";

.headerNav{
  position:fixed;
  background-color:white;
  width:100vw;
  display:block;
  overflow: hidden;
  z-index:999;
}
.headerNavSpacing{
  margin:0 50px 0 50px;
}
.navbar-expand{
  justify-content:space-between;
}
.headerTitle{
  font-family: "Roboto", sans-serif;
  font-size:30px;
  letter-spacing: -1.6px;
  color: $brand;
  font-weight: 300;
  margin:.75rem 0 -1rem .75rem;
}
@media (min-width: 768px){
  .main{
    padding-right: 25px;
    padding-left: 80px;
  }
  .headerSmall{
    display:none;
  }
}
@media (max-width: 767px){
  .headerLarge{
    display:none;
  }
  .headerSmall{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-around;
    align-items: center;
    padding: 10px 0 10px;
  }

}