.modalTitleStyling{
  margin-left:auto;
  margin-right:auto;
  padding-top:0;
  font-size: 24px;
  font-weight: 600;

}

.modal-header{
  padding-bottom:0;
  display:inline-block;
  border: none;
}

.modal-footer{
  border:0;
  display:inline-block;
  padding-bottom:30px;
  padding-top: 30px;

}
.centerButton{
  margin-left:auto;
  margin-right:auto; 
  text-align:center;
}

.modal-body{
  padding: 1rem 3rem;
 
}
.modal-content{
  width: 654px;
  border-radius: 5px;
  box-shadow: -5px -5px 10px 3px rgba(0,0,0,0.05), 5px 5px 10px 3px rgba(0,0,0,0.05);
}


