@import "../../_masterColors.scss";

.tabs:hover {
  color:$btn-brand-pressed;
}

.tabs{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.lineUnderLabels{
  margin-top: -19px;
  z-index:-99;
  box-sizing: border-box;
  height: 2px;
  border: 1px solid $greyscale-pale;
}
