@import "../../_masterColors.scss";

.custom-radio .custom-control-label::before {
  background-color: #fff !important;
  border: 2px solid $btn-brand-pressed !important;
}

/* This is the checked state */
.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2.5' fill='%2344687D'/%3E%3C/svg%3E"); 
  //to make a radio switch that matches the sheet, see below: 
 // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='none' stroke-width='2' stroke='%23dae1e5'/%3E%3Ccircle r='2.5' fill='%2344687D' stroke='%2344687D'/%3E%3C/svg%3E"); 
}

.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}
