@import "../../_masterColors.scss";

.sideVerticalLine{
  position:fixed;
  display:block;
  overflow-y:auto;
  border-right:2px solid $greyscale-pale;
  width: 220px;
  height:100vh;
  top:82px;
}
.disappearingSideBar{
  position:fixed;
  display:block;
  // overflow-x:hidden;
  overflow-y:auto;
  width: 172px;
  height:100vh;
  padding-top: 146px;
  left: 32px;
  
}

.boxed{
  // margin-right: 0;
  // border-right: 2px solid $brand-pressed;
}

@media (min-width: 768px){
  .main{
    padding-right: 25px;
    padding-left: 130px;
  }
  .headerSmall{
    display:none;
  }
}
@media (max-width: 767px){
  .disappearingSideBar,
  .sideVerticalLine{
    display:none;
  }
}

.disappearingSideBar a:hover{
  color: $brand;
  text-decoration: none;
}
html .disappearingSideBar {//removes side scrollbar 1 of 2
  overflow: scroll;
  overflow-x: hidden;
}
.disappearingSideBar::-webkit-scrollbar { //removes side scrollbar 2 of 2
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.indentSidebar{
  padding-left:1rem;
  padding-bottom:0 !important;
}
.disappearingSideBar div {
  padding-bottom:1rem;

}
.disappearingSideBar a{
  color: black;
  cursor: pointer;

}