$brand:#6289A1;
$lighterbrand:#719BB1;
$brand-disabled:#ACC5D1;
$brand-pressed:#44687D;
$blue-bg: #DCE9F3;

// Accent Colors
$coral: #F58466;
$bisque: #FEDAB4;
$blue: #5290C3;
$turquoise: #A3D9D2;
$olive:#990;
$grey:#A8A08D;

// Greyscale Colors
$greyscale-pale: #E9EBEF;
$greyscale-light:#A7A9AC;
$greyscale-medium:#58595B;
$greyscale-dark:#231F20;


//messaging
$blue-bg:#DCE9F3;
$green-bg:#DCEFE0;
$green:#52AD62;
$white: #FFF;
$black: #000;
$red:#DC0000;
$yellow:#F0B400;
$red-bg:#F8CCCC;
$yellow-bg:#FFF7CC;