$brand: #44687D;
$lighterbrand: #80A1B6;

$btn-brand:#44687D;
$btn-brand-hover:#304A5C;
$btn-brand-disabled:#A7A9AC;
$btn-brand-pressed:#42677a;

// Accent Colors
$coral: #F58466;
$bisque: #FEDAB4;
$blue: #1775D3;
$turquoise: #00D2BA;

// Greyscale Colors
$greyscale-pale: #E9EBEF;
$greyscale-light:#A7A9AC;
$greyscale-medium:#58595B;
$greyscale-dark:#231F20;


//messaging
$blue-bg:#DCE9F3;
$green-bg:#DCEFE0;
$green:#008A19;
$red:#DC0000;
$red-bg:#F8CCCC;
$yellow-bg:#FFF7CC;