$brand: #44687d;
$lighterbrand: #80A1B6;

$btn-brand:#6289A1;
$btn-brand-hover:#719BB1;
$btn-brand-disabled:#ACC5D1;
$btn-brand-pressed:#42677a;

// Accent Colors
$coral: #F58466;
$bisque: #FEDAB4;
$blue: #4A90E2;
$turquoise: #A3D9D2;

// Greyscale Colors
$greyscale-pale: #E9EBEF;
$greyscale-light:#A7A9AC;
$greyscale-medium:#58595B;
$greyscale-dark:#231F20;


//messaging
$blue-bg:#DCE9F3;
$green-bg:#DCEFE0;
$green:#52AD62;
$red:#DC0000;
$yellow:#F0B400;
$red-bg:#F8CCCC;
$yellow-bg:#FFF7CC;